<ion-header>
  <ion-toolbar>
    <ion-title>Harry Potter</ion-title>
    <ion-back-button></ion-back-button>
  </ion-toolbar>
</ion-header>

<ion-content>
<!-- displays harry potter info and image-->
  <img src="../assets/img/potter.jpg">


  <p>Harry James Potter (b. 31 July 1980) was an English half-blood wizard, 
    and one of the most famous wizards of modern times. He was the only child and son of James and Lily Potter 
    (née Evans), both members of the original Order of the Phoenix. 
    Harry's birth was overshadowed by a prophecy, naming either himself or Neville Longbottom 
    as the one with the power to vanquish Lord Voldemort. After half of the prophecy was reported to 
    Voldemort, courtesy of Severus Snape, Harry was chosen as the target due to his many similarities 
    with the Dark Lord. In turn, this caused the Potter family to go into hiding. Voldemort made 
    his first vain attempt to circumvent the prophecy when Harry was a year and three months old.
    During this attempt, he murdered Harry's parents as they tried to protect him, but this
     unsuccessful attempt to kill Harry led to Voldemort's first downfall. This downfall marked 
     the end of the First Wizarding War, and to Harry henceforth being known as the "Boy Who Lived"
    , as he was the only known survivor of the Killing Curse. </p>
  


</ion-content>
