<ion-header>
  <ion-toolbar>
    <ion-title>Spider-Man</ion-title>
    <ion-back-button></ion-back-button>
  </ion-toolbar>
</ion-header>
<!--Displays spiderman info-->
<ion-content>

  <img src="../assets/img/spiderboy.jfif">

  <h2>Real Name: Peter Parker</h2>

  <p>Spider-Man is a fictional superhero in the Marvel Comics universe. 
    He is a character created by writer Stan "the man" Lee and artist Steve Ditko.
    He first appeared in Amazing Fantasy #15 in August 1962. The premise was that 
    he was an orphan being raised by his Aunt May and Uncle Ben as an ordinary teenager.
    He would deal with the normal struggles of being young as well as the struggles of
    being of a costumed crime fighter. His powers were super strength, agility, 
   the ability to cling to almost every surface, the ability to shoot spider-webs 
   using an device that he invented which he calls "web-shooters," and reacting to 
  danger quickly with his "spider-sense", enabling him to combat many foes similar to that of a spider.</p>

</ion-content>
